<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PHOTOBOOK</title>

<!-- css -->


</head>
<body>
<div class="all_wrap">

	<!------------------ header ------------------>
	<h1>PHOTOBOOK</h1> <hr>
	
	<!------------------ button ------------------>
	<div class="photo_button">
		<button>upload</button>
		<button>delete</button>
	</div>
	
	<!------------------ photo ------------------>
	<div class="photo_uploaded_wrap">
		<hr>
		<div class="photo_uploaded_1">
			<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
			<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
			<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
		</div>
	</div>

</div>
</body>
</html>

