<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PHOTOBOOK</title>

<!-- js -->

<!-- css -->
<link rel="stylesheet"	href="C:\java_sb\SB\src\main\webapp\assets\css\main.css">


</head>
<body>
	<div class="all_wrap">

		<!------------------ header ------------------>
		<h1>PHOTOBOOK</h1>
		<hr>

		<div class="search_photo">
			<!------------------ search ------------------>
			<div class="search_box">
				<form action="" method="post">
					<input class="search_txt" type="text" placeholder="검색어를 입력해 주세요">
					<button class="search_btn">Go</button>
				</form>
			</div>

			<!------------------ button ------------------>
			<div class="photo_button">
				<button class="photo_btn">upload</button>
				<button class="photo_btn">delete</button>
			</div>
		</div>
		<hr>

		<!------------------ category ------------------>
		<div class="category">
			<h2>Category</h2>
			<ul>
				<li><a href="" target="_blank">항목명</a></li>
				<li><a href="" target="_blank">항목명</a></li>
				<li><a href="" target="_blank">항목명</a></li>
				<li><a href="" target="_blank">항목명</a></li>
			</ul>
			<div class="category_btn_all">
				<button id="category_Abtn">Add Categoty</button>
				<button id="category_Dbtn">Delete Categoty</button>
			</div>
		</div>

		<!------------------ photo ------------------>
		<div class="photo_uploaded_wrap">
			<div class="photo_uploaded">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
			</div>

			<div class="photo_uploaded">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
			</div>

			<div class="photo_uploaded">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
			</div>

			<div class="photo_uploaded">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
				<img src="C:\java_sb\SB\src\main\webapp\assets\image\june2.jpg">
			</div>
		</div>

		<!------------------ paging ------------------>

		<!------------------ footer ------------------>

	</div>
</body>
</html>